<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Merienda:wght@600&family=Kalam&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
    <div class="section">
   <div class="scroll1">
    <h1 class="infoh1">INFORMATION</h1>
    <p class="infop">
        Megalith provides a unique opportunity to civil engineering
         students to showcase their coding skills which solving arduous
           problems in civil engineering through Darkode. It is an on-the spot event in which participants are given a problem statement
           related to civil engineering challenges.
            They need to formulate an efficient algorithm to solve it. It seeks
             high participation from students of civil engineering as well from
             other departments including computer science which provides
             maximum opportunity to increase outreach to companies.
       
       

    </p> 

</div>
    </div>
   <div class="section"> 
    <div class="scroll2">
        <h1 class="probh1">PROBLEM STATEMENT</h1>
         <br>
   <!--       <p class = "probp"> We will be releasing problem statement very soon. Stay in touch. </p> -->
            <p class="probp">
           It is the on the spot event . So problem statement will be released at the time of event
                
           </p>  
    </div>
   
   </div>

   <div class="section">
    <div class="scroll3">
        <h1 class="ruleh1">RULES</h1>
        <br>
        <p class="rulep">

            ❖ The event is open to individual participants only.
        </p>
        <p class="rulep">
            ❖Only C, C++, Java and Python are allowed.
        </p>
        <p class="rulep">
            ❖ Time Limit - 3 hours.
        </p>
        <p class="rulep">
            ❖ Mail your “.c/.cpp/.java/.py” file to darkode.megalith@gmail.com
        </p>
        <p class="rulep">
            ❖ Any submission after the given time would not be considered.
        </p>

        <p class="rulep">
            ❖You would be directly disqualified if plagiarism was detected at any point in time.
        </p>

        <p class="rulep">
            ❖  Mail should contain:</br>
            * <ParticipantName_CollegeName> as subject.</br>
            * <ParticipantName_CollegeName> as filename.</br>
            * Name, Contact no., and college name in the body of the mail.</br>
            </p>

        <p class="rulep">
            ❖ The decision of the judges would be final and binding.
        </p>
        <p class="rulep">
            ❖  Hardcoding is not allowed
        </p>
        <p class="rulep">
            Judging Criteria:</br>


            </p>
        <p class="rulep">

            ❖Sample test case: 20% marks [Directly printing the output would be given 0 marks]
        </p>
        <p class="rulep">

            ❖Hidden test Case: 80% marks
        </p>

        <p class="rulep">
            ❖If no test case is passed partial marks would be given based on the code.</p>
        

    </div>
   </div>
  <div class="section">
    <div class="scroll4">
        <h1 class="prizh1"> PRIZE</h1>
        <p class="prizp">
          Coming Soon</p>
        
    </div>
  </div>
</div>
</body>
</html>