<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
    <div class="section">
   <div class="scroll1">
    <h1 class="infoh1">Information</h1>
    <p class="infop">
        We all have studied bridges in any of our semester courses. Won’t you fascinate to make one bridge of your own?
        This on-spot event provides the opportunity for the participants to construct a bridge of their own using the materials provided.
        
       
       

    </p> 

</div>
    </div>
   <div class="section"> 
    <div class="scroll2">
        <h1 class="probh1">Problem Statement</h1>
         <br>
   <!--       <p class = "probp"> We will be releasing problem statement very soon. Stay in touch. </p> -->
            <p class="probp">
                It is the on the spot event . So problem statement will be released at the time of event.
           </p>  <br>
    </div>
   
   </div>

   <div class="section">
    <div class="scroll3">
        <h1 class="ruleh1">Rules</h1>
        <br>
        <p class="rulep">

            ❖ Span should not be less than 65 cm (clear span).</p>
        <p class="rulep">
            ❖Event is open to all.
        </p>
        <p class="rulep">
            ❖Maximum team size is 5.
        </p>
        <p class="rulep">
            ❖ Participants can form teams from different branches, colleges, universities, and institutes. </p>
        <p class="rulep">
            ❖No two teams must have any common member.
        </p>

        <p class="rulep">
            ❖ The time limit for the completion is 120 minutes.
        </p>

        <p class="rulep">
            ❖  You are free to use any shape for the arch it may be Semicircular, Parabolic, Elliptical, or mixed shape.</p>

        <p class="rulep">
            ❖ It should be a symmetrical two-hinged arch as shown in the figure</p>
        <p class="rulep">
            ❖ In every case spacing between the Key-stone and adjacent bricks should be less than 1cm. As Shown in Fig. 1 and Fig.2
        </p>
        <p class="rulep">

            ❖ You are allowed to use only a fixed pattern for placing the bricks. There Should be no change in the pattern of the Crown relative to the lower part of the bridge (Sides)
        </p>
        <p class="rulep">

            ❖ Judging Criteria:
        </p>
        <p class="rulep">

            ❖ Strength of the structure (45%)</br>
            Points = Load taken by Structure * 45 / Maximum Load taken by any Structure </br>

Note: Load will be given on the keystone of the arch.


        </p>

        <p class="rulep">
            ❖Length of arc (35%)</br>

            Points = Theoretical Length (calculated by taking span as dia. ) of arc * 35 / Actual Length of Arc 
            </p>
        <p class="rulep">
            ❖The number of bricks used(20%)</br>

            Points = Minimum number of bricks used by any Structure * 20 / Number of Bricks used by Structure 
            
        </p>
        <p class="rulep">
            NOTE: The decision made by the Megalith Team will be final and binding.

        </p>


    </div>
   </div>
  <div class="section">
    <div class="scroll4">
        <h1 class="prizh1"> Prize</h1>
        <p class="prizp">
            TOTAL - 5000</p>
        <p class="prizp">
            1ST - 2500</p>
        <p class="prizp">
            2ND - 1500</p>
        <p class="prizp">
            3RD - 1000
        </p>
    </div>
  </div>
</div>
</body>
</html>