<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Merienda:wght@600&family=Kalam&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">--->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="event.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
</head>
<body>
  <video autoplay muted loop id="myVideo">
    <source src="Qutub.mp4" type="video/mp4">
  </video>
  <div class="left">
  <nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#"><img style="width: 24%; padding: 0%; margin-top: -2px; margin-left: -2px;" src="logo.png" alt="logo"></a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
          <div class="left"></div>
          <div class="right"></div>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/event"
            >Events</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/workshop"
            >Workshop</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sponsors"
            >Sponsors</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team"
            >Team</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/theme"
            >Theme</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactus"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </nav>
  </div>
    <main>
       
      <div class="hi">
        <figure class="effect-sarah">
            <img src="kamys.jpg" alt="img20"/>
            <figcaption>
              <h2>Photography</h2>
              <p>This event encourages the participants to showcase their photographic skills that help them capture cherishable moments and to uplift their creative and imaginative skills
                 <br><a href="/commingsoon" target="_blank"><button class="button hover-btn"><span>Details</span></button></a>
                
              </p>
          
             
              
            </figcaption>			
        </figure>
    </div>
        
          <div class="hi">
            <figure class="effect-sarah">
                <img src="hyd.jpg" alt="img20"/>
                <figcaption>
                  <h2>Data Hunt</h2>
                  <p>Megalith provides a unique opportunity to civil engineering students to showcase their coding skills while solving arduous problems in civil engineering  by formulating efficient algorithm and logic through DataHunt.
                    <br><a href="/commingsoon" target="_blank"><button class="button hover-btn"><span>Details</span></button></a>
                  </p>
                 
                </figcaption>			
              </figure>
        </div>
        <div class="hi">
          <figure class="effect-sarah">
              <img src="victmodl.jpg" alt="img20"/>
              <figcaption>
                <h2>Model Exhibition</h2>
                <p> Civil engineering is a field which is directly linked with practical experiences in constructing structures and models are requisite for analysis of structures and demonstration of many basic engineering concepts. <br><a href="/commingsoon" target="_blank"><button class="button hover-btn"><span>Details</span></button></a></p>
               
              </figcaption>			
            </figure>
      </div>
      <div class="hi">
        <figure class="effect-sarah">
            <img src="mahabarot.jpg" alt="img20"/>
            <figcaption>
              <h2>Rotolare</h2>
              <p> This event makes the participants  think out of the box to create an excellent roller coaster according to the specifications given in the problem statement. <br><a href="/commingsoon" target="_blank"><button class="button hover-btn"><span>Details</span></button></a></p>
            
            </figcaption>			
          </figure>
    </div>
    <div class="hi">
      <figure class="effect-sarah">
          <img src="gatecri.jpg" alt="img20"/>
          <figcaption>
            <h2>Criar</h2>
            <p>   This mega event is an overnight on-the-spot event for designing and building a structure with the raw materials provided. The event basically calls for teamwork, spontaneity and judicial use of raw materials provided.<br><a href="/event/criar" target="_blank"><button class="button hover-btn"><span>Details</span></button></a></p>
            
          </figcaption>			
        </figure>
  </div>
        <div class="hi">
          <figure class="effect-sarah">
              <img src="evtan1.jpg" alt="img20"/>
              <figcaption>
                <h2>Beat-d-Euclid</h2>
                <p>This event encourages the students to showcase their immense talent in the world of geometry with their amazing power of imagination.
                  <br><a href="/commingsoon" target="_blank"><button class="button hover-btn"><span>Details</span></button></a>
                </p>
               
              </figcaption>			
            </figure>
      </div>
      <div class="hi">
        <figure class="effect-sarah">
            <img src="konark.jpg" alt="img20"/>
            <figcaption>
              <h2>Green Canvas</h2>
              <p>The purpose of Green Canvas is to encourage participants to come up with innovative and creative ways to mitigate effects of pollution and restore greenery.
                <br><a href="/commingsoon" target="_blank"><button class="button hover-btn"><span>Details</span></button></a>
              </p>

            </figcaption>			
          </figure>
    
  </div>
  
  
        <div class="hi">
            <figure class="effect-sarah">
                <img src="tirter.jpg" alt="img20"/>
                <figcaption>
                  <h2>Teramind</h2>
                  <p> Terramind is the best opportunity for the intellect and the quizzing genius to test their knowledge and challenge their quick thinking.<br><a href="/commingsoon" target="_blank"><button class="button hover-btn"><span>Details</span></button></a></p>
                  
                </figcaption>			
              </figure>
        </div>
        
       
       
        
        <div class="hi">
            <figure class="effect-sarah">
                <img src="modh.jpg" alt="img20"/>
                <figcaption>
                  <h2>Instridge</h2>
                  <p> Instridge is an on the spot event to be conducted in Megalith. In this event, the participants will have to build an arch bridge using the materials provided.<br><a href="/event/instridge" target="_blank"><button class="button hover-btn"><span>Details</span></button></a></p>
                  
                </figcaption>			
              </figure>
        </div>
        <div class="hi" >
          <figure class="effect-sarah">
              <img src="evamir.jpg" alt="img20"/>
              <figcaption>
                <h2>Cwiz</h2>
                <p>Cwiz is a national level online quiz event that challenges the nerds in the topics of Civil Engineering,Logical Reasoning and General Knowledge.The participants are expected to participate in the leaderboard driven game.
                  <br><a href="/commingsoon" target="_blank"><button class="button hover-btn"><span>Details</span></button></a>
                </p>
               
              </figcaption>			
            </figure>
      
      </div>
        <div class="hi">
            <figure class="effect-sarah">
                <img src="kadal.jpg" alt="img20"/>
                <figcaption>
                  <h2>Darkode</h2>
                  <p>Megalith provides a unique opportunity to civil engineering students to showcase their coding skills while solving arduous problems in civil engineering through Darkode. <br><a href="/event/darkcode" target="_blank"><button class="button hover-btn"><span>Details</span></button></a></p>
                  
                </figcaption>			
              </figure>
        </div>
            </div>
      </main>
 
      <div class="scroll-down">
        <div class="scroll-down-text">Scroll down over cards</div>
        <div class="scroll-down-bar"></div>
      </div>

<script src="event.js"></script> 
<script src="navindex.js"></script>     
</body>
</html>