<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
    <div class="section">
   <div class="scroll1">
    <h1 class="infoh1">Information</h1>
    <p class="infop">
        A bridge is a structure built to span physical obstacles without closing the way underneath such as a body of water, valley, or road, to provide passage over the obstacle. There are many different designs that each serve a particular purpose and apply to different situations. The design of bridges varies depending on the function of the bridge, the
nature of the terrain where the bridge is constructed and anchored, the material used to make it, and the funds available to build it.

       

    </p> 

</div>
    </div>
   <div class="section"> 
    <div class="scroll2">
        <h1 class="probh1">Problem Statement</h1>
         <br>
   <!--       <p class = "probp"> We will be releasing problem statement very soon. Stay in touch. </p> -->
            <p class="probp">
                It is the on the spot event . So problem statement will be released at the time of event.
    </div>
   
   </div>

   <div class="section">
    <div class="scroll3">
        <h1 class="ruleh1">Rules</h1>
        <br>
       
    </div>
   </div>
  <div class="section">
    <div class="scroll4">
        <h1 class="prizh1"> Prize</h1>
        <p class="prizp">
           Coming Soon</p>
        
    </div>
  </div>
</div>
</body>
</html>